/* @charset "UTF-8"; */
/* @import url("https://use.typekit.net/euz1eqv.css"); */

/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
} */

/* audio,
canvas,
video {
    display: inline-block;
} */

/* audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "“""”""‘""’";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

::selection {
    background-color: grey;
    color: white;
}

::-moz-selection {
    background-color: grey;
    color: white;
}

html {
    background: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #23272a;
    background-color: #fff;
    overflow: hidden;
} */

/* header */
/* header {
    min-height: 100vh;
    background: url(../img/background.png) no-repeat center;
    background-size: cover;
} */
section {
    margin: 5rem 0;
    padding: 0 3vw;
}

.scroll-header {
    background-color: rgb(10, 10, 11);
}

.container,
.container_inner {
    margin: 0 auto;
    width: 100%;
}

.container {
    max-width: 1200px;
    position: relative;
    display: flex;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container h1 {
    width: 50%;
}

.container_inner {
    max-width: 1000px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 9;
    transition: .7s;
    color: #fff;
}

.brand {
    width: 80px;
    font-size: 1.6rem;
}

.nav .container_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav .container ul {
    display: flex;
    width: 100%;
    margin: 0 1rem;
}

.nav .container ul:nth-child(2) {
    text-align: right;
}

.serve {
    display: flex;
    justify-content: flex-end;
}

.nav .container ul li {
    display: inline-block;
    margin: 0 .7rem;
}

.nav a {
    text-decoration: none;
    font-size: .9rem;
    transition: .3s;
    font-weight: 600;
    color: #fff;
}

.nav a:hover {
    color: #e54416;
}

.input_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
}

form input,
form button {
    background: none;
    border: none;
    color: #fff;
}

form button {
    cursor: pointer;
}

form input::placeholder {
    color: #fff;
}

form input:focus {
    outline: none;
}

.nav .fa-bars {
    font-size: 1.2rem;
    width: 80px;
    cursor: pointer;
    transition: .3s;
    text-align: right;
}

.nav .fa-bars:hover {
    color: #e54416;
}

.menu {
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    height: 0;
    opacity: 0;
    transition: .7s cubic-bezier(.74, -0.03, .83, .67);
    overflow-y: hidden;
}

.menu img {
    width: 3rem;
}

.menu ul,
.menu form {
    margin: 1rem auto;
}

.menu li {
    margin: 1rem 0;
}

.menu>div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6rem 1rem 3rem 1rem;
    height: 100%;
    overflow-y: scroll;
}

.menu>div::-webkit-scrollbar {
    display: none;
}

.menu .social_media {
    margin: 2rem 0;
}

.social_media li {
    display: inline-block;
    margin: 0 .5rem;
}

.menu-open {
    height: 100vh;
    opacity: 1;
}

.navbar-active {
    background: #111;
    padding: 1rem;
}

@media screen and (max-width: 800px) {
    .nav .container_inner {
        display: none;
    }

    .nav .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .menu form {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 13px;
    }
}

/* slider_main */
.webGL {
    margin-top: 0;
    padding: 0;
}

audio,
canvas,
video {
    display: inline-block;
}

.slider_main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #23272a;
}

#slider {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#slider canvas {
    width: 150%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#slider img {
    width: 100%;
    max-width: 100%;
    /* height: 100%; */
    top: -50%;
    position: absolute;
    z-index: -999;
    /* opacity: 0; */
    /* display: none; */
}

.slider-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1060px;
    height: 100%;
    margin: 0 auto;
    z-index: 5;
}

#slider-content {
    padding: 0 10px;
}

#slider-content h2 {
    font-family: "acta-display", serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -1px;
    color: white;
    line-height: 30px;
    margin: 20px 0 60px;
}

@media screen and (min-width: 800px) {
    #slider-content h2 {
        font-size: 110px;
        line-height: 100px;
    }
}

#slider-content span {
    display: none;
}

#slider-content .meta {
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 11px;
    letter-spacing: 5px;
    color: #88888a;
    text-transform: uppercase;
    position: relative;
}

@media screen and (min-width: 800px) {
    #slider-content .meta {
        font-size: 13px;
    }
}

#slider-content .meta:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: -55px;
    width: 45px;
    height: 2px;
    background-color: #393d40;
}

#slider-content #slide-status {
    margin-top: 10px;
    font-family: "acta-display", serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

@media screen and (min-width: 800px) {
    #slider-content #slide-status {
        font-size: 34px;
    }
}

#pagination {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    z-index: 6;
}

#pagination button {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 0;
    margin: 30px 0;
    cursor: pointer;
    position: relative;
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
    outline: none;
}

#pagination button:hover {
    opacity: 0.5;
}

#pagination button.active {
    opacity: 1;
}

#pagination button.active:before {
    width: 300%;
    height: 300%;
    opacity: 1;
}

#pagination button:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
}

/* Page Loader */
.loading:before {
    content: "";
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.loading:after {
    content: "";
    position: fixed;
    z-index: 100000;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0.4;
    background: white;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}

/* about */
.main_about {
    display: flex;
    align-items: center;
    margin: 12rem auto auto;
    justify-content: space-between;
}

.about_img {
    position: relative;
}

.about_img::after {
    content: "";
    position: absolute;
    left: 320px;
    top: 280px;
    background: url(../img/about-frame.svg) no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about_img img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 99% 17%, 100% 100%, 0% 100%);
}

.about_text {
    flex-basis: 48%;
}

.about_text h2 {
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: capitalize;
}

.about_text h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.about_text p {
    margin: 1.5rem 0;
    font-weight: normal;
}

.about_text p:last-child {
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .about_img img {
        width: 80%;
    }

    .about_text h2 {
        font-size: 3rem;
    }

    .about_text h4 {
        font-size: 2rem;
    }

    .about_text span {
        font-size: 1.7rem;
    }

    .about_img::after {
        left: 250px;
        top: 200px;
    }
}

@media screen and (max-width: 996px) {
    .about_img::after {
        background-size: 15rem;
    }
}

@media screen and (max-width: 768px) {
    .about_img::after {
        background-size: 15rem;
    }

    .main_about {
        flex-direction: column;
        gap: 3rem 0;
    }
}

@media screen and (max-width: 567px) {
    .about_img img {
        width: 100%;
    }

    .about_img::after {
        display: none;
    }

    .about_text h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .about_text h4 {
        font-size: 1.9rem;
    }
}

/* the characters */
.content-width {
    width: 100%;
    /* height: 100vh; */
    margin: 0 auto;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slideshow-items {
    position: relative;
    width: 100%;
    height: 300px;
}

.item {
    position: absolute;
    width: 100%;
    height: auto;
}

.item-image-container {
    position: relative;
    width: 25%;
}

@media screen and (max-width: 599px) {
    .item-image-container {
        position: relative;
        width: 50%;
    }

    /* .item-image-container::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #22222a;
        opacity: 0;
        z-index: 1;
    } */

}

/* .item-image-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #22222A;
    opacity: 0;
    z-index: 1;
} */

.item-image {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;
    display: block;
    /* transition: property name | duration | timing-function | delay  */
    transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
    opacity: 1;
}

.item.active .item-image-container::before {
    opacity: .8;
}

.item-description {
    position: absolute;
    top: 40px;
    right: -2%;
    width: 50%;
    padding-right: 4%;
    line-height: 1.8;
    /* z-index: 1; */
}

@media screen and (max-width: 559px) {
    .item-description {
        font-size: 13px;
        line-height: 1.5;
    }
}

/* Staggered Vertical Items */
.item-header {
    position: absolute;
    top: 10px;
    left: 28%;
    z-index: 1;
}

@media screen and (max-width: 599px) {
    .item-header {
        position: absolute;
        top: -10px;
        left: 52.5%;
    }

}

.item-header .vertical-part {
    margin: 0 -4px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 2.5rem;
    color: #fff;
}

.vertical-part {
    overflow: hidden;
    display: inline-block;
}

.vertical-part b {
    display: inline-block;
    transform: translateY(100%);
}

.item-header .vertical-part b {
    transition: .5s;
}

.item-description .vertical-part b {
    transition: .21s;
    font-weight: normal;
}

.item.active .item-header .vertical-part b {
    transform: translateY(0);
}

.item.active .item-description .vertical-part b {
    transform: translateY(0);
}

/* Controls */
.controls {
    position: relative;
    top: 10px;
    text-align: right;
    /* z-index: 1000; */
}

.controls ul {
    list-style: none;
}

.controls ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    background: #bdbdd5;
    ;
    cursor: pointer;
}

.controls ul li.active {
    background: #6a6a77;
    ;
}

/* prop */
.round_container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.content-width .prop {
    position: relative;
    box-shadow: 8px 5px 16px 0 rgb(0 0 0 / 37%);
    margin-bottom: 32px;
    /* margin-top: -64px; */
}

@media screen and (min-width: 599px) {
    .prop {
        padding: 8px;
    }
}

.prop {
    align-items: center;
    background-image: linear-gradient(90deg, #333 5%, #181818 95%);
    display: flex;
    padding: 1em;
    z-index: 2;
}

@media screen and (min-width: 599px) {
    .prop img {
        flex: 0 0 21px;
        height: 38px;
        /* margin-left: 25px; */
        padding: 0;
    }
}

.prop img {
    display: block;
    flex: 0 0 34px;
    height: 60px;
    padding: 0 5px;
}

.prop .prop_wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding-left: 15px;
}

@media only screen and (min-width: 599px) {
    .prop .prop_wrapper {
        align-items: center;
        flex: auto;
        flex-direction: row;
    }
}



@media screen and (min-width: 599px) {
    .prop_wrapper p {
        flex: auto;
    }
}

.prop_wrapper button {
    font-size: 13px;
    line-height: 15px;
    margin: 0.8em 0 0;
    min-height: auto;
    padding: 9px 20px;
    width: auto;
}

@media screen and (min-width: 599px) {
    .prop_wrapper button {
        margin: 5px 25px 5px 1em;
        white-space: nowrap;
    }
}



.prop_wrapper button {
    background-color: #e50914;
    background-image: linear-gradient(180deg, #e50914, #db0510);
    box-shadow: 0 1px 0 rgb(0 0 0 /45%);
    color: #fff;
}

.prop_wrapper button {
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

/* round */
.round_header h2 {
    display: inline-block;
}

@media screen and (min-width: 599px) {
    .round_header h2 {
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        line-height: 34px;
    }
}

.round_header p {
    display: inline-block;
    color: #a3a3a3;
    white-space: nowrap;
}

.round_header>:not(:first-child) {
    border-left: 1px solid #a3a3a3;
    margin-left: 9px;
    padding-left: 15px;
}

.round_season {
    display: block;
}

.round_meta {
    font-size: 16px;
    margin-top: 20px;
}

@media screen and (max-width: 599px) {
    .round_meta {
        margin-bottom: 20px;
    }
}

.round_meta strong {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.round_meta p {
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 5px 0 20px;
    width: 50%;
}

.episodes_container {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: -6px;
    padding: 0;
}

@media screen and (max-width: 599px) {
    .episodes_container {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        max-width: 100%;
    }
}

@supports (display: grid) {
    .episodes_container {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

@media screen and (max-width: 1023px) {
    @supports (display: grid) {
        .episodes_container {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }

}

@media screen and (max-width: 599px) {
    @supports (display: grid) {
        .episodes_container {
            display: grid;
            grid-template-columns: 100%;
        }
    }
}

.episodes_container li {
    list-style: none;
    margin: .5vw;
    max-width: 20%;
}


@supports (display: grid) {
    .episodes_container li {
        margin: 6px;
        max-width: 100%;
    }
}


.episodes_container li figure {
    margin: 0;
    position: relative;
}

.episodes_container li figure img {
    width: 100%;
}

.episode_meta {
    display: flex;
}

@supports (display: grid) {
    .episode_meta {
        display: grid;
        grid-template-columns: 85% 15%;
    }
}


.episode_meta h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.episode_meta span {
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    line-height: 27px;
}

.episodes_container p {
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 1rem 0;
}

/* actor-video */
.actor-video {
    border-radius: 0.6rem;
    text-align: center;
    position: relative;
    background: url(../img/video-img/video-img.jpg) no-repeat center;
    background-size: cover;
    max-width: 77rem;
    width: 100%;
    height: 45.5rem;
    margin: 0 auto 12.6rem;
}

.actor-video::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #3d0a21;
    opacity: 0.78;
    border-radius: 0.6rem;
}

.actor-video::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/video-img/play-button.png) no-repeat center;
    cursor: pointer;
}

.actor-video .actor-shape {
    position: absolute;
    bottom: -7rem;
    right: -9rem;
    z-index: -1;
}

@media (max-width: 567px) {
    .actor-video::after {
        background-size: 5rem;
    }
}

/* video */
.video-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10000;
    transition: 0.5s;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}

.video-wrapper.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.video-wrapper video {
    width: 70%;
    max-width: 135rem;
}

.video-wrapper .video-control {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 4rem;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    cursor: pointer;
    position: absolute;
}

.video-wrapper .close-video {
    position: absolute;
    top: 7rem;
    right: 7rem;
    color: #e60065;
    font-size: 4rem;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .video-wrapper video {
        width: 90%;
        max-width: 135rem;
    }
}

@media (max-width: 567px) {
    .video-wrapper .video-control {
        font-size: 2.5rem;
        width: 4rem;
        height: 4rem;
    }

    .video-wrapper .close-video {
        font-size: 2.5rem;
        top: 10rem;
        right: 3rem;
    }
}