.header {
    background: #023586;
    line-height: 100px;
}

.container {
    position: relative;
    width: 1640px;
    margin: 0 auto;
    padding: 0 15px;
}

.header nav {
    display: flex;
    justify-content: space-between;
}

.header .brand {
    text-align: center;
}

.header nav>ul {
    display: flex;
    gap: 25px;
}

.header nav>ul>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.header .search {
    font-size: 24px;
    color: #fff;
}

.pb_section .pb_section_inner {
    position: relative;
    padding: 80px 0;
}

.pb-0 {
    padding-top: 0 !important;
}

.slider .slick-dots {
    margin: 30px 0;
    text-align: center;
}

.slider .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #A9A9A9;
    margin: 0 15px;
}

.slider .slick-dots li.slick-active {
    background: #023586;
}

.slider .slick-dots button {
    display: none;
}

.pb_section_header {
    position: relative;
    margin-bottom: 30px;
    display: flex;
}

.pb_section_header h2 {
    font-size: 24px;
    font-weight: 700;
    flex: 1;
}

.pb_section .btn-more {
    display: block;
    line-height: 24px;
}

.pb_section .btn-more span {
    display: inline-block;
    font-weight: 700;
    letter-spacing: .05em;
    border-bottom: 2px solid #111;
}

.list {
    display: flex;
    gap: 40px;
}

.list .desc {
    padding-bottom: 30px;
}

.pb_section_body .list img {
    margin-bottom: 20px;
}

.post_title {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.readmore {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #888;
}

.pb-table {
    /* display: table; */
    table-layout: fixed;
    width: 100%;
}

.pb_section .pb_main_title {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

}

.pb_main_title {
    display: inline-block;
    opacity: 1;
    line-height: 1;
    color: #000;
    font-size: 96px;
    font-weight: 900;
}

.pb_section .pb_tabs {
    width: 320px;
}

.pb_tabs {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    align-items: stretch;
    font-size: 14px;
    justify-content: space-between;
    white-space: nowrap;
    /* margin-left: -1em;
    margin-right: -1em; */
}

.pb_section .pb_tabs>ul {
    flex-direction: column;
    align-items: flex-start;
}

.pb_tabs ul {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}

.pb_tablist>li .tab {
    color: #999;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: none;
    outline: none;
}

.pb_tablist>li.on .tab {
    color: #000;
    border: none;
}

.pb_section .pb_tabs .on .tab::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid #000;
    line-height: 1;
}

.pb_section .pb_tabs>ul li {
    height: auto;
    margin: 28px 0;
}

.pb_section .pb_subtitle {
    display: block;
    font-size: 32px;
    font-weight: 900;
}

.section .pb-tabcell {
    text-align: center;
}

.pb-tabcell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.pb-table .pb-1 {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.pb-1 {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 35px;
    max-width: 1312px;
}

.pb-table .pb_tabpanel {
    position: absolute;
    overflow: hidden;
    width: 100%;
    min-width: 1312px;
    height: 700px;
    top: 0%;
    left: 100%;
    z-index: 0;
    margin: 0 0 0 -180px;
}

/* .pb-table .pb_tabpanel_body {
    position: absolute;
    left: 50%;
    margin: -300px;
    transform: translate(-50%, 0);
} */

.pb-table .pb_tabpanel .slick-list {
    overflow: visible;
    height: 516px;
}

.slick-list {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.pb-table .pb_tabpanel .slick-list .slick-track {
    /* align-items: flex-end; */
    height: 488px;
}

.slick-track {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transform: translate3d(312px, 0px, 0px);
}

.pb-table .pb_tabpanel .slick-list .slick-slide {
    width: 208px;
    height: 176px;
    padding: 0 16px;
    transform: translate(0, 0);
}

.slick-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

/* .container .pb_tabpanel_body {
    position: absolute;
} */

/*
.pb_tabpanel .slick-list {
    overflow: visible;
    height: 400px;
}

.pb_tabpanel .slick-list .slick-track {
    align-items: flex-end;
    height: 400px;
} */


/* .pb_section_inner .container {
    display: flex;
    margin: 0 0 0 auto;
} */