.header {
    background: #023586;
    line-height: 100px;
}

.container {
    position: relative;
    width: 1640px;
    margin: 0 auto;
    padding: 0 15px;
}

.header nav {
    display: flex;
    justify-content: space-between;
}

.header .brand {
    text-align: center;
}

.header nav>ul {
    display: flex;
    gap: 25px;
}

.header nav>ul>li>a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
} 

.header .search {
    font-size: 24px;
    color: #fff;
}

.pb_section .pb_section_inner{
    position: relative;
    padding: 80px 0;
}

.pb-0 {
    padding-top: 0 !important;
}

.slider .slick-dots {
    margin: 30px 0;
    text-align: center;
}

.slider .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #A9A9A9;
    margin: 0 15px;
}

.slider .slick-dots li.slick-active {
    background: #023586;
}

.slider .slick-dots button {
    display: none;
}

.pb_section_header {
    position: relative;
    margin-bottom: 30px;
    display: flex;
}

.pb_section_header h2 {
    font-size: 24px;
    font-weight: 700;
    flex: 1;
}

.pb_section .btn-more {
    display: block;
    line-height: 24px;
}

.pb_section .btn-more span {
    display: inline-block;
    font-weight: 700;
    letter-spacing: .05em;
    border-bottom: 2px solid #111;
}

.list {
    display: flex;
    gap: 40px;
}

.list .desc {
    padding-bottom: 30px;
}

.pb_section_body .list img {
    margin-bottom: 20px;
}

.post_title {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.readmore {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #888;
}

.pb_section .pb_main_title {
    position: relative;
    margin-bottom: 30px;

}

.pb_main_title {
    display: inline-block;
    color: #000;
    font-size: 96px;
    font-weight: 900;
}

.pb_section .pb_tabs {
    width: 320px;
}

.pb_tablist>li .tab {
    color: #999;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: none;
    outline: none;
}

.pb_tablist>li.on .tab {
    color: #000;
    border: none;
}

.pb_section .pb_tabs .on .tab::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 3px solid #000;
    line-height: 1;
}


.pb_section .pb_tabs>ul {
    flex-direction: column;
    align-items: flex-start;
}

.pb_tabs ul {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.pb_section .pb_tabs>ul li {
    height: auto;
    margin: 28px 0;
}

.pb_section .pb_subtitle {
    display: block;
    font-size: 32px;
    font-weight: 900;
}

.pb_section_inner .pb_tabpanel {

    width: 600px;

}

.pb_section_inner .pb_tabpanel img {
    width:100%;
}

/* .container .pb_tabpanel_body {
    position: absolute;
    top: 0;
    left: 50px;
}

.pb_tabpanel .slick-list {
    overflow: visible;
    height: 400px;
}

.pb_tabpanel .slick-list .slick-track {
    align-items: flex-end;
    height: 400px;
} */


/* .pb_section_inner .container {
    display: flex;
    margin: 0 0 0 auto;
} */

