.container {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 7rem 0 2rem;
}

.shape {
    background-color: rgba(55, 74, 109, 0.5);
    filter: blur(112px);
    border-radius: 50%;
}

/* header */
.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    color: rgb(241, 242, 243);
    display: inline-flex;
}

.nav_logo {
    align-items: center;
    column-gap: .25rem;
    font-size: 1rem;
    font-weight: 500;
    transition: .3s;
}

.nav_logo i {
    font-size: 1.25rem;
}

.nav_logo:hover {
    color: rgb(65, 120, 220);
}

.nav_menu ul {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    text-align: center;
    row-gap: 3rem;
    padding-top: 0;
}

.nav_menu ul a {
    text-transform: initial;
    color: rgb(241, 242, 243);
    font-size: 1rem;
    font-weight: 500;
    transition: .3s;
}

.nav_menu ul a:hover {
    color: rgb(65, 120, 220);
}


/* home */
.home {
    position: relative;
    overflow: hidden;
}

.home_container {
    position: relative;
    padding-top: 2rem;
    row-gap: 3rem;
}

.home_img {
    width: 380px;
    justify-self: center;
}

.home_data {
    text-align: center;
}

.home_data h2 {
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(241, 242, 243);
    margin-bottom: 1rem;
}

.home_data h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(241, 242, 243);
    margin-bottom: .25rem;
}

.home_data h4 {
    font-size: .875rem;
    font-weight: 400;
    color: #babec4;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.home_data h4 i {
    color: #4178dc;
}

.home_car {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7rem;
    margin-bottom: 2rem;
}

.home_car h3 {
    font-size: .625rem;
    font-weight: 400;
    color: #888b91;
}

.home_car_data {
    text-align: center;
}

.home_car h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #f1f2f3;
    margin-bottom: .25rem;
}

.home_car_icon {
    background: #111213;
    border-radius: 50%;
    padding: .376rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.home_container a {
    position: relative;
    border: 2px solid #08915f;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: .875rem;
    color: #fff;
    font-weight: 500;
}

.home_container a::before {
    content: "";
    border: 2px solid #02d98a;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 12px #02d98a;
    transition: .3s;
    animation: button 3s infinite;
}

.home .shape {
    position: absolute;
}

@keyframes button {
    0% {
        box-shadow: 0 0 12 #02d98a;
    }
    50% {
        box-shadow: 0 0 24px #02d98a;
    }
}


/* about */
.about_container {
    column-gap: 6rem;
    row-gap: 6rem;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.about_group {
    position: relative;
}

.about_group img {
    width: 480px;
    border-radius: .5rem;
}

.about_card {
    position: absolute;
    width: 198px;
    right: 0;
    bottom: -2.5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    padding: 1rem 1.25rem;
    text-align: center;
    border-radius: 1.25rem;
}

.about_card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: rgb(241, 242, 243);
}

.about_card p {
    font-size: .813rem;
}

.about_card h2 {
    text-align: initial;
    margin-bottom: 2rem;
}

.about_card p {
    font-size: .813rem;
}

.about_data h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(241, 242, 243);
    ;
    text-align: initial;
    margin-bottom: 2rem;
}

.about_data p {
    padding-right: 4rem;
    margin-bottom: 3rem;
}

.about_data a {
    display: inline-block;
    background-color: rgb(65, 120, 220);
    ;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    transition: .3s;
}

/* popular */
.popular_container {
    width: 875px;
    padding-top: 3rem;
}

.popular>h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: rgb(241, 242, 243);
    margin-bottom: 2.5rem;
}


.popular_card {
    position: relative;
    background: rgb(17, 18, 19);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1.25rem;
    margin-bottom: 5rem;
    overflow: hidden;
    box-sizing: border-box;
}

.popular_card:hover .popular_card img {
    transform: translateY(-0.25rem);
}

.popular_card h2,
.popular_card h3,
.popular_card img {
    position: relative;
}

.popular_card h2 {
    font-size: 1.5rem;
    margin-bottom: .25rem;
}

.popular_card h3 {
    font-size: 1rem;
    color: rgb(186, 190, 196);
    font-weight: 400;
}

.popular_card h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(241, 242, 243);
}

.popular_card img {
    width: 180px;
    margin: .75rem 0 1.25rem 2rem;
    transition: .3s;
}

.popular_data {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: .5rem 1.25rem;
    margin-bottom: 2rem;
}

.popular_group {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-size: .813rem;
    color: #fff;
}

.popular_data i {
    font-size: 1rem;
}

.popular_card button {
    border: none;
    outline: none;
    padding: .75rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
}

.popular_card button {
    display: inline-block;
    background-color: rgb(65, 120, 220);
    color: #fff;
    font-size: 1rem;
    transition: .3s;
}

.popular_card button i {
    font-size: 1.25rem;
}

.swiper-pagination-bullet {
    background: rgb(186, 190, 196);
}

.swiper-pagination-bullet-active {
    background-color: rgb(65, 120, 220);
}

/* features */
.features {
    position: relative;
    overflow: hidden;
}

.features h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(241, 242, 243);
    ;
    text-align: center;
    margin-bottom: 2.5rem;
}

.feature_container {
    padding: 2rem 0 3rem;
    grid-template-columns: 285px;
    justify-content: center;
}

.feature_group {
    position: relative;
    display: grid;
    z-index: 10;
}

.feature_group img {
    width: 200px;
    justify-self: center;
}

.features_card {
    position: absolute;
    width: 127px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    border-radius: 1.25rem;
    padding: .75rem 2.5rem;
    text-align: center;
    color: rgb(241, 242, 243);
    ;
}

.features_card:nth-child(1) {
    top: 4rem;
    left: -1rem;
}

.features_card:nth-child(2) {
    top: 8rem;
    right: -2.5rem;
}

.features_card:nth-child(3) {
    left: 1.5rem;
    bottom: 2rem;
}

.features_card h3 {
    font-size: 1.25rem;
    margin-bottom: .25rem;
    color: rgb(241, 242, 243);
    ;
    font-weight: 600;
}

.features_card p {
    font-size: .813rem;
}

.features_map {
    position: absolute;
    max-width: initial;
    width: 650px;
    top: 11rem;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(-22deg);
}

/* featured */
.featured_container {
    padding-top: 1rem;
}

.featured>h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.5rem;
    color: rgb(241, 242, 243);
}

.featured_container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}

.featured_item {
    width: 48px;
    height: 48px;
    border: none;
    outline: none;
    padding: .75rem;
    border-radius: .75rem;
    background-color: rgb(17, 18, 19);
    ;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.featured_item img {
    width: 1.5rem;
}

.featured_item span,
.featured_item img {
    opacity: .3;
    transition: 0.3s;
}

.featured_item:hover {
    background-color: rgb(65, 120, 220);
    ;
}

.featured_item:hover span,
.featured_item:hover img {
    opacity: 1;
}

.featured_content {
    grid-template-columns: repeat(3, 248px);
    gap: 4rem;
    justify-content: center;
}

.featured_card {
    position: relative;
    background-color: rgb(17, 18, 19);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.featured_card:hover .featured_card img {
    transform: translateX(-0.25rem);
}

.featured_card h2,
.featured_card h3,
.featured_card img {
    position: relative;
}

.featured_card h2 {
    font-size: 1.5rem;
    margin-bottom: .25rem;
}

.featured_card h3 {
    font-size: 1rem;
    color: rgb(186, 190, 196);
    font-weight: 400;
}

.featured_card img {
    width: 180px;
    margin: 1.5rem 0;
    transition: .3s;
}

.featured_card h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(241, 242, 243);
}

.featured_card button {
    border: none;
    outline: none;
    padding: .75rem 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
}

.featured_card button {
    display: inline-block;
    background-color: rgb(65, 120, 220);
    color: #fff;
    font-size: 1rem;
    transition: .3s;
}

.featured_card button i {
    font-size: 1.25rem;
}

.active-featured {
    background-color: rgb(65, 120, 220);
}

.active-featured span,
.active-featured img {
    opacity: 1;
}

/* offer */
.offer {
    position: relative;
}

.offer_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: initial;
    column-gap: 5rem;
    align-items: center;
    padding-bottom: 2rem;
    justify-content: center;
}

.offer_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.offer_data {
    position: relative;
    margin-bottom: 0;
    text-align: initial;
}

.offer_data h2 {
    text-align: initial;
    font-size: 1.5rem;
    font-weight: 600;
    color: #f1f2f3;
    margin-bottom: 2rem;
}

.offer_data p {
    padding-right: 6rem;
    margin-bottom: 3rem;
}

.offer_img {
    position: relative;
    max-width: initial;
    width: 450px;
    bottom: initial;
    right: initial;
}

.offer_data a {
    display: inline-block;
    background-color: #4178dc;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    transition: .3s;
}