.content {
    padding: 100px 0;
}

.content .container {
    display: flex;
    gap: 30px; /*공간 사이를 띄우는 것*/
    width: 1200px;
    margin: 0 auto;
}

.content .container figure {
    flex: 1;
}

.content img {
    width: 100%;
    margin: 0 0 20px 0;
}
.content strong { /* inline은 아래 위로 margin 안 먹음*/
    display: block; /* 그럴때 박스로 만듬 */
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.content p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
}