.header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 70;
    background: #fff;
    box-shadow: 0px 0px 5px;
}

.container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 24px;
}

.cos_top {
    position: sticky;
    display: flex;
    height: 5rem;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 1.2rem 2rem 0.8rem;
    flex-direction: row;
    justify-content: space-between;
}

.cos_top>h1 {
    display: flex;
    max-width: 5rem;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: flex-start;
    padding: 1px;
}

.nav {
    display: flex;
    width: 67%;
    height: 3rem;
    float: left;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    /* overflow: hidden; */
}

.nav>ul {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.nav>ul>li {
    display: flex;
    height: 100%;
    min-width: 85px;
    justify-content: center;
    align-items: center;
}

.nav>ul>li>a {
    font: 15px;
    transition: color 0.2 ease-in-out 0s;
    color: rgb(88, 88, 88);
}

.cos_btn {
    position: relative;
    display: flex;
    float: right;
    width: 9rem;
    height: 3rem;
    top: 0;
    right: 0;
    justify-content: flex-end;
}

.btn_box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btn_box>button {
    font-size: 10px;
    font-weight: 400;
    border-radius: 25px;
    width: 50%;
    height: 25px;
    margin: 0 5px;
    background: #fff;
    border: 1px solid rgb(155, 155, 155);
    color: #000;
    cursor: pointer;
}

/* .btn_login {
    background: #fff;
    border: 1px solid #ddd;
    color: #ddd;
} */

.cos_container {
    display: block;
    max-width: 1920px;
    width: 100%;
    padding: 0 24px;
    margin: 0 auto;
    box-sizing: border-box;
}

.cos_slide {
    position: relative;
    display: flex;
    height: 950px;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: space-between;
    transition: height 2s ease-in-out 0s;
}

.cos_slide.active {
    height: 0px;
}

.cos_form {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cos_screen {
    width: 1480px;
    height: 900px;
    perspective: 1400px;
    margin: auto;
    overflow: hidden;
}

.cos_carousel {
    position: relative;
    display: block;
    width: 100%;
    top: 300px;
    margin: 0 auto;
    padding: 0;
    transform-style: preserve-3d;
    transition: all 1s;
}

.cos_carousel>li:first-child {
    transform: rotateY(18deg);
}

.cos_carousel>li:nth-child(2) {
    transform: rotateY(54deg);
}

.cos_carousel>li:nth-child(3) {
    transform: rotateY(90deg);
}

.cos_carousel>li:nth-child(4) {
    transform: rotateY(126deg);
}

.cos_carousel>li:nth-child(5) {
    transform: rotateY(162deg);
}

.cos_carousel>li:nth-child(6) {
    transform: rotateY(198deg);
}

.cos_carousel>li:nth-child(7) {
    transform: rotateY(234deg);
}

.cos_carousel>li:nth-child(8) {
    transform: rotateY(270deg);
}

.cos_carousel>li:nth-child(9) {
    transform: rotateY(306deg);
}

.cos_carousel>li:nth-child(10) {
    transform: rotateY(342deg);
}

.cos_carousel>li {
    position: absolute;
    display: block;
    width: 100%;
    transform-style: preserve-3d;
    list-style: none;
    pointer-events: none;
}

.cos_carousel>li>div {
    display: flex;
    float: left;
    width: 230px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    overflow: hidden;
    transform: rotateY(-90deg);
    -webkit-box-reflect: below 10px linear-gradient(transparent 70%, hsla(0, 0%, 100%, .3));
    justify-content: center;
    align-items: center;
}

.cos_carousel>li>div>img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.left {
    margin-left: -45%;
}

.right {
    margin-left: 45%;
}

.left,
.right {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.left>img,
.right>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn_up {
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0.5px 2px;
    margin-bottom: 2rem;
    margin-left: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
}

.btn_img.active {
    transform: rotate(180deg);
}

.btn_img {
    width: 100%;
    height: 85%;
    background: url(../img/cos_up.png) no-repeat center center/ 70% 20% #fff;
    border-radius: 50%;
    transition: all 1.5s ease-in-out 0s;
}

.cos_container02 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 57px;
    min-height: 2100px;

    /* display: block;
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255); */
}

.cos_container02>nav {
    display: flex;
    height: 5.2vh;
    width: 100%;
    max-height: 46px;
    border-radius: 30px;
    justify-content: space-evenly;
    padding: 10px 20px;
    min-height: 40px;
    /* overflow-x: scroll; */
    border: 1px solid rgb(215, 215, 215);
    color: rgb(155, 155, 155);
    background: rgb(255, 255, 255);
}

.cos_container02>nav>a {
    height: 100%;
    width: 150px;
    border-radius: 20px;
    padding: 7.3px 20px;
    font-size: 12px;
    font-weight: 300;
    outline: none;
    border: none;
    color: rgb(155, 155, 155);
    text-align: center;
    transition: all 0.5s ease 0s;
}

.cos_container02>nav>a:hover {
    box-shadow: 0px 2px 6px 0px;
    transform: scale(1.2);
    background: rgb(153, 100, 120);
    color: #fff;
}

.cos_more {
    display: flex;
    width: 100%;
    height: 10.2vh;
    min-height: 60px;
    max-height: 85px;
    background: #fff;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.cos_more_box {
    display: flex;
    width: auto;
    height: 100%;
    margin-top: 0vh;
    align-items: center;
    justify-content: center;
}

.btn_more {
    position: relative;
    display: flex;
    height: 36.11%;
    width: 120px;
    margin-right: 3vw;
    border-radius: 19px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: left;
    align-items: center;
    cursor: pointer;
}

.btn_more>span {
    display: flex;
    width: 82%;
    font-weight: 400;
    color: rgb(155, 155, 155);
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-left: 12%;
}

.btn_more_img {
    position: absolute;
    display: flex;
    height: 100%;
    width: 20px;
    margin-right: 0.5vw;
    top: 0;
    right: 0px;
    justify-content: center;
    align-items: center;
}

.btn_more_img>img {
    transform: scale(1);
    height: 25%;
    width: 10px;
    border: none;
    object-fit: contain;
}

.btn_more_the {
    position: absolute;
    display: flex;
    height: 12vh;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding-left: 12%;
    top: 4.2vh;
    left: 0px;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
    z-index: 1;
}

.btn_more_the.active {
    visibility: visible;
}

.btn_more_the a {
    display: flex;
    font-size: 12px;
    width: 80%;
    height: 25%;
    color: rgb(155, 155, 155);
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
}

.btn_more02 {
    position: relative;
    height: 36%;
    width: 120px;
    border: 1px solid rgb(215, 215, 215);
    margin-right: 3vw;
    border-radius: 19px;
    background: #fff;
    text-align: left;
    cursor: pointer;
}

.btn_more02.active {
    background: rgb(153, 100, 120);
    border: none;
    color: #fff;
}

.btn_more02>div {
    position: absolute;
    display: flex;
    height: 100%;
    width: 20px;
    top: 0px;
    left: 0px;
    margin-left: 13%;
    justify-content: center;
    align-items: center;
}

.btn_more02>div>div {
    height: 55%;
    width: 100%;
    object-fit: contain;
    transform: scale(1);
    background: url(../img/cos_Control.png) 0% 0% / contain no-repeat;
}

.btn_more02 span {
    font-weight: 400;
    padding-left: 32%;
    color: rgb(155, 155, 155);
}

/* 2022.07.13 후작업 */

.cos_list {
    display: block;
    float: left;
    width: 100%;
}

.cos_list_wrap {
    position: relative;
    display: block;
    max-width: 1500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin: 50px auto 50px auto;
    margin-bottom: 200px;
    text-align: center;
}

.cos_list_column {
    display: inline-block;
    width: 24%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 30px;
    vertical-align: top;
    margin-bottom: 30px;
}

.cos_product {
    position: relative;
    display: inline-block;
    width: 100%;
}

.cos_product .cos_img_holder {
    position: relative;
}

.cos_product_img {
    position: relative;
}

.cos_product_img img {
    display: block;
    width: 100%;
}

.cos_description {
    display: block;
    margin-top: 13px;
    text-align: left;
    width: 100%;
    flex-direction: column;
}

.cos_description span {
    position: relative;
    margin: 5px 10px;
    float: right;
    cursor: pointer;
}

.cos_price {
    height: 16px;
    vertical-align: baseline;
    order: 2;
    margin: 5px 0 0;
    font-size: 11px;
}

.cos_price label {
    font-size: 11px;
    letter-spacing: 0.1em;
    line-height: 12px;
}

.cos_sm {
    max-height: 32px;
    max-width: 108px;
    overflow: hidden;
    order: 4;
    margin: 6px 0 0;
    float: left;
}

.cos_sm img {
    height: 11px;
    width: 11px;
    vertical-align: top;
}

.cos_list_more img {
    display: block;
    margin-right: 35px;
    float: right;
}

/*  */

.cos_lookdetails_wrapper {
    padding-bottom: 6%;
}

.cos_lookdetails_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cos_lookdetails_media {
    position: sticky;
    left: 0;
    height: 100vh;
    top: 0;
}

.cos_lookdetails_media,
.cos_lookdetails_products {
    width: 50%;
}

.cos_lookdetails_media div {
    height: 100%;
}

video {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    z-index: 0;
}

.cos_lookdetails_products {
    background: #fff;
    min-height: calc(100vh - 144px);
    padding: 144px 7.5vw 0;
    z-index: 4;
}

.cos_lookdetails_header {
    align-items: flex-start;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    padding: 0 0 18px;
    position: relative;
    user-select: none;
    visibility: visible;
}

.cos_lookdetails_header h2 {
    max-width: 80%;
}

.cos_lookdetails_header>h2>span:first-child {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1.4375;
    margin-bottom: 10px;
    min-width: 86px;
    position: relative;
}

.cos_lookdetails_header>h2>span:last-child {
    display: block;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.5;
}

.cos_lookdetails_products_wrapper {
    margin-top: 72px;
}

.cos_lookdetails_products_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.cos_lookdetails_products_block>.cos_lookdetails_products_block_item {
    margin-left: 34px;
    margin-right: 34px;
    width: calc(100% - 68px);
}

.cos_lookdetails_products_block_item {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 27px;
    position: relative;
    width: 100%;
}

.cos_lookdetails_products_block_item h2 {
    color: #1d1d1d;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 1.5;
    overflow: hidden;
    padding-top: 18px;
}

.cos_lookdetails_products_block:last-child {
    border-bottom: 1px solid #ececec;
    margin-bottom: 0;
    padding-bottom: 27px;
}

.cos_lookdetails_products_block_column {
    width: calc(50% - 10px);
}

.cos_sale_banner_wrap {
    width: 100%;
    margin: 0 0 30px 0;
    background: #fff;
    border-top: 1px solid #1b1b1b;
    border-bottom: 1px solid #1b1b1b;
    clear: both;
}

.cos_sale_banner_wrap .cos_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 260px;
    max-width: 1540px;
    margin: auto;
}

.cos_sale_banner_wrap .cos_row div {
    flex: 1;
    color: #1b1b1b;
    text-align: center;
    letter-spacing: 3px;
}

.cos_sale_banner_wrap .cos_row span {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    font-size: 125px;
    line-height: 129px;
}

.cos_sale_banner_wrap .cos_row a {
    display: block;
    width: 240px;
    height: 44px;
    line-height: 45px;
    margin: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    background: #1b1b1b;
    color: #fff;
}

.cos_sale {
    display: flex;
    justify-content: center;
}

.cos_magazine {
    display: block;
    width: 100%;
}

.cos_text_block {
    position: relative;
    padding: 0;
    max-width: 100%;
    margin: 80px auto;
    margin-bottom: 10px;
    text-align: center;
}

.cos_text_block>div>h2 {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 10px;
}


.cos_magazine_box {
    position: relative;
    display: flex;
    height: 44.5vh;
    max-width: 1500px;
    padding: 0 55px;
    margin: 50px auto;
    cursor: pointer;
}

.cos_magazine_a {
    position: relative;
    background: url(../img/cos_Magazine01.jpg) center center / cover;
    flex: 1 1 0%;
    height: 100%;
    transition: all 0.8s ease 0s;
}

.cos_magazine_txt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.cos_magazine_txt>span {
    font-size: 35px;
    color: #fff;
    text-shadow: #000 1px 2px;
}

.cos_magazine_b {
    position: relative;
    background: url(../img/cos_Magazine02.jpg) center center / cover;
    flex: 1 1 0%;
    height: 100%;
    transition: all 0.8s ease 0s;
}

.cos_magazine_c {
    position: relative;
    background: url(../img/cos_Magazine03.jpg) center center / cover;
    flex: 1 1 0%;
    height: 100%;
    transition: all 0.8s ease 0s;
}

.cos_magazine_d {
    position: relative;
    background: url(../img/cos_Magazine04.jpg) center center / cover;
    flex: 1 1 0%;
    height: 100%;
    transition: all 0.8s ease 0s;
}

.cos_hover:hover {
    flex: 2.5 1 0%;
}

.cos_hover:hover .cos_magazine_txt {
    transition: opacity 1.5s ease 0s;
    opacity: 1;
}

.cos_list_title {
    padding-bottom: 15px;
}

.cos_list_title img {
    display: block;
    margin-bottom: 15px;
}

.cos_hedline {
    margin-bottom: 13px;
    text-align: left;
}

.cos_hedline h2 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.0825em;
    text-transform: uppercase;
    margin: -3px 0 0;
    margin-bottom: 13px;
    text-align: left;
}

.cos_hedline p {
    font-size: 13px;
    line-height: 17px;
}

.cos_cta {
    font-size: 12px;
    line-height: 17px;
    text-align: left;
}

.cos_cta a {
    border-bottom: 1px solid #000;
}

.btn_more02 span.active {
    color: #fff;
}

.cos_filter_form {
    display: flex;
    height: 36.11%;
    width: 48.7vw;
    justify-content: space-between;
    visibility: hidden;
}

.cos_filter_form.active {
    visibility: visible;
    display: flex;
    animation: 0, 4s ease-in-out 0s 1 normal none running;
}

.test {
    position: relative;
    height: 100%;
    width: 32.6%;
}

.test input {
    padding-left: 3vw;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 19px;
    color: rgb(155, 155, 155);
    padding-right: 1vw;
}

.cos_search_name {
    position: absolute;
    display: flex;
    margin-left: 5px;
    top: 0;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cos_search_name>div {
    width: 90%;
    height: 90%;
    transform: scale(0.5);
    background: url(../img/cos_search.png) 0% 0% / contain no-repeat;
}

.cos_search_tag {
    position: relative;
    height: 32.6%;
    height: 100%;
}

.cos_search_tag>input {
    padding-left: 3vw;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 19px;
    padding-right: 1vw;
    color: rgb(155, 155, 155);
}

.cos_tag {
    position: absolute;
    display: flex;
    margin-left: 5px;
    top: 0px;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cos_tag>div {
    width: 90%;
    height: 90%;
    transform: scale(0.5);
    background: url(../img/cos_search.png) 0% 0% / contain no-repeat;
}

.cos_color {
    position: relative;
    display: flex;
    width: 25.54%;
    height: 100%;
    min-height: 25px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 19px;
    background: rgb(255, 255, 255);
    text-align: right;
}

.cos_color_filter {
    display: flex;
    height: 100%;
    width: 20%;
    min-height: 25px;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.cos_color_filter>button {
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background: url(../img/cos_color.png) 0% 0% / contain no-repeat;
}

.cos_color_filter>button>div {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.cos_color input {
    height: 100%;
    width: 55%;
    margin-right: 8%;
    border: none;
    color: rgb(155, 155, 155);
}

/* footer */

footer {
    position: relative;
    display: block;
    clear: both;
    width: 100%;
    background: #262626;
    text-align: center;
}

footer .pb_bottom_util {
    border-bottom: 1px solid #464646;
    padding: 16px 0;
    font-size: 13px;
}

footer .pb_bottom_util li {
    display: inline-block;
    margin: 3px 19px;
}

footer .pb_bottom_util li a {
    color: #818181;
}

footer .pb_bottom_spc {
    position: absolute;
    text-align: right;
    width: 100%;
    margin-top: 30px;
}

footer .pb_bottom_spc span {
    width: 100%;
    display: block;
    max-width: 1178px;
    margin: auto;
    padding: 0 40px;
}

footer .pb_bottom_spc img {
    width: 100px;
    height: auto;
}

footer .pb_language {
    position: absolute;
    display: block;
    margin: 20px auto;
    right: 50%;
    top: -4px;
    margin-right: -550px;
}

footer .pb_language a {
    display: block;
    height: 28px;
    line-height: 28px;
    background: url(../img/language_arrow.gif) no-repeat 135px 10px;
    padding-left: 20px;
    color: #848484;
    text-align: left;
}

footer .pb_language ul {
    position: absolute;
    width: 100%;
    top: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    margin: -1px -1px 0 -1px;
    z-index: 51;
}

footer .pb_language ul li a {
    background: none;
}

select {
    width: 100px;
    padding: .1em .5em;
    font-family: inherit;
    background: url(../img/pngwing.com.png) no-repeat 95% 50%;
    border: 1px solid #999;
    border-radius: 0px;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

option {
    color: #fff;
    background: #262626;
}

select::-ms-expand {
    display: none;
}

footer .pb_bottom_logo {
    margin: 0 20px;
}

footer .pb_bottom_logo img {
    width: auto;
    height: auto;
}

footer .pb_copy_info {
    width: 90%;
    max-width: 650px;
    margin: auto;
    margin-bottom: 14px;
    font-size: 12px;
    color: #6c6c6c;
    line-height: 1.7em;
}

footer .pb_copy_info span {
    display: inline-block;
    background: url(../img/footer_line.gif) no-repeat right;
    margin-right: 10px;
    padding-right: 10px;
}

footer .pb_copy {
    padding-bottom: 35px;
    font-size: 12px;
    font-weight: 700;
    color: #6c6c6c;
}