.section {
  padding: 5rem 0 2rem;
}

.header {
  background: #000;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.nav {
  position: relative;
  color: #fff;
  z-index: 99;
}

.nav .container>div {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
}

.menu,
.nav form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin: 0 0.5em;
}

.menu ul a {
  text-transform: uppercase;
}

.menu>ul>li>a:hover {
  text-decoration: underline;
}

.nav form {
  margin-right: 2em;
}

.nav form i {
  font-weight: 900;
}

.nav form input {
  background: transparent;
  color: #fff;
  width: 12rem;
  padding: .5rem 1rem;
  border: none;
  outline: none;
}

.nav form input::placeholder {
  color: #fff;
}

.logo {
  width: 8em;
  display: inline-block;
}

.menu form button {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
  font-size: 1rem;
}

.menu form button:hover {
  background: rgba(255, 255, 255, 0.6);
}

.nav .container .menu_btn {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav .container>div {
    grid-template-columns: 1fr;
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    height: 0;
    overflow: hidden;
    transition: .7s;
  }

  .menu ul li {
    display: block;
    margin: 0.5em 0;
  }

  .menu ul li:nth-child(1) {
    margin-top: 1.5em;
  }

  .nav .container .menu_btn {
    display: inline-block;
    font-size: 1.4em;
    cursor: pointer;
  }

  nav .container .nav-toggle {
    height: 18em;
  }
}

@media screen and (max-width: 1210px) {
  .header {
    height: initial;
  }
}

@media screen and (max-width: 650px) {
  .header {
    height: initial;
  }
}


/* home */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 13rem);
  position: relative;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 53em) {

  .content {
    height: 100vh;
    justify-content: center;
  }
}

.mainSlider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /*left: 0;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;*/
}

canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.content nav a {
  color: #fff;
  text-decoration: none;
  /*margin-right: 14px;*/
  position: absolute;
  top: 50vh;
  z-index: 1;
}

.content nav a:hover,
.content nav a:focus {
  color: #fff;
  outline: none;
}

.content nav span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: 7px;
  -moz-transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.content nav a:hover span {
  width: 0;
}

.content nav a.next {
  right: 10vw;
}

.content nav a.prev {
  left: 10vw;
}

@media screen and (max-width: 53em) {

  nav a {
    top: auto;
    bottom: 3rem;
  }

}

.arrow_scroll {
  position: absolute;
  height: 4em;
  bottom: 5rem;
  text-align: center;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform:
    translateX(-50%) rotate(45deg);
}

.arrow:nth-child(2) {
  animation:
    arrow1 1.5s ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation:
    arrow2 1.5s ease-in-out infinite;
}

@keyframes scroll {
  0% {
    bottom: 80%;
    opacity: 1;
  }

  100% {
    bottom: 20%;
    opacity: 0;
  }
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}


/* picks */
.featured h3 {
  position: relative;
  font-size: 2rem;
}

.featured h3 span {
  color: #111;
}

.container {
  padding: 1em 2em;
  max-width: 1350px;
  margin: 0 auto;
}

.description {
  font-family: 'Noto Sans KR', sans-serif;
  padding-bottom: 20px;
}

.Picks {
  min-height: 45vh;
}

.Picks h2 {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: .1rem;
}

.Picks h2::after {
  content: "";
  position: absolute;
  width: 56px;
  height: .18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background: #141414;
}

.featured {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  grid-gap: 1.5em;
}

.bar_bottom {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-content: space-between;
  /* align-items: center; */
  grid-gap: 1.5em;
}

.thumbs img {
  width: 3em;
  height: 3em;
  border-radius: 4px;
  cursor: pointer;
}

.thumbs .thumb-active {
  border: 3px #ccc solid;
}

.showcase img {
  width: 100%;
  transform-origin: bottom;
}

.showcase>div {
  position: relative;
  height: 100%;
}

.shadow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1em;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  filter: blur(3px);
  z-index: 0;
}

.options>div,
.options>ul {
  padding: 0.6em 0;
}

.sizes li {
  width: 3.2em;
  height: 3.2em;
  border: 1px #111 solid;
  border-radius: 50%;
  text-align: center;
  line-height: 3.2em;
  font-size: 0.8em;
  transition: 0.3s;
}

.size-active {
  background: #111;
  color: #fff;
}

.reviews,
.pricing,
.colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing .price {
  color: #111;
}

.reviews h4,
.pricing h4 {
  color: #ccc;
}

.reviews .stars li {
  margin: 0;
  cursor: default;
}

.options {
  justify-self: end;
}

.options ul li {
  display: inline-block;
  margin: 0 0.2em;
  cursor: pointer;
}

.options ul li:nth-child(1) {
  margin-left: 0;
}

.colors li {
  width: 2em;
  height: 2em;
  background: red;
  border-radius: 50%;
  border: 3px #f6f6f6 solid;
}

.colors .color-active {
  border-color: #111;
}

.bar_bottom {
  background: #f4f4f4;
  padding: 1.5em;
}

.bar_bottom div,
.bar_bottom a {
  display: flex;
  align-items: center;
}

.bar_bottom span {
  cursor: pointer;
}

.controls {
  justify-content: space-evenly;
}

.arrows span {
  font-size: 2.5em;
}

.pagination {
  display: flex;
  margin: 0 0.5em;
}

.pag {
  background: #ccc;
  width: 3em;
  height: 0.2em;
  margin: 0 7px;
  transition: 0.3s;
}

.pag-active {
  background: #111;
}

.arr-left {
  transform: rotate(180deg);
}

.cart {
  justify-self: center;
}

.cart button {
  background: #111;
  color: #fff;
  border: none;
  padding: 1.3em 2em;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-right: 1.5em;
  transition: 0.3s;
}

.cart button:hover {
  background: #000;
}

@media screen and (min-width: 1250px) {
  .featured h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1000px) {

  .featured,
  .bar_bottom {
    grid-template-columns: 1fr;
  }

  .Picks .container {
    max-width: 700px;
  }

  .options {
    justify-self: start;
    width: 100%;
  }

  .controls {
    flex-direction: column;
  }

  .controls div {
    margin: 1em 0;
  }
}

/* Shoe Jump Animation */

@keyframes jump {
  40% {
    transform: translateY(-8em) rotate(10deg);
  }

  70% {
    transform: translateY(-8em) rotate(0);
  }

  85% {
    transform: translateY(0) rotate(0deg);
  }

  87% {
    transform: scaleY(0.8);
  }

  100% {
    transform: scaleY(1);
  }
}

/*Shadow Animations*/
@keyframes shadow {
  50% {
    transform: translateX(-50%) scaleX(0.8);
  }

  100% {
    transform: translateX(-50%) scaleX(1);
  }
}

@keyframes shadow2 {
  50% {
    width: 0;
    transform: translateX(-50%);
  }

  100% {
    width: 100%;
    transform: translateX(-50%);
  }
}

/*Shoe fade animation*/
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Title animation*/
@keyframes title {
  0% {
    transform: scaleX(0);
    transform-origin: top left;
  }

  30% {
    transform: scaleX(1);
    transform-origin: top left;
  }

  60% {
    transform: scaleX(1);
    transform-origin: top right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: top right;
  }
}

/*Replace*/
@keyframes replace {
  5% {
    transform: scaleY(0.8);
  }

  10% {
    transform: scaleY(1);
  }

  40% {
    transform: translateY(-100vh);
  }

  60% {
    transform: translateY(-100vh);
  }

  85% {
    transform: translateY(0);
  }

  90% {
    transform: scaleY(0.8);
  }

  100% {
    transform: scaleY(1);
  }
}

/* new collection */
.new h2 {
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
  letter-spacing: .1rem;
}

.new h2::after {
  content: '';
  position: absolute;
  width: 56px;
  height: .18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #141414;
}

.new_container {
  row-gap: 2rem;
}

.bd_grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.new_mens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: .5rem;
  padding: 2rem;
}

.new_mens img {
  width: 276px;
  margin-bottom: 1.5rem;
}

.new_mens h3 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

.new_mens span {
  display: block;
  margin-bottom: 1.5rem;
}

.new_sneaker {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.new_sneaker_card {
  position: relative;
  padding: 3.5rem 1.5rem;
  background-color: #F2F2F2;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.new_sneaker_card img {
  width: 220px;
}

.new_sneaker_card>div {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(138, 138, 138, .3);
  transition: .3s;
}

.new_sneaker_card:hover.new_sneaker_card>div {
  bottom: 0;
}

.new_sneaker_card>div>a {
  display: inline-block;
  background: #141414;
  color: #fff;
  padding: 1.125rem 2rem;
  font-weight: 500;
  border-radius: .5rem;
  transition: .3s;
}

.new_sneaker_card>div>a:hover {
  transform: translateY(-.25rem);
}

/* offer */
.offer_container {
  grid-template-columns: 55% 45%;
  column-gap: 0;
  background: #F2F2F2;
  border-radius: .5rem;
  justify-content: center;
}

.offer_data {
  padding: 4rem 0 4rem 1.5rem;
}

.offer_data h3 {
  font-size: 2rem;
  margin-bottom: .25rem;
}

.offer_data p {
  margin-bottom: 1.5rem;
}

.offer_data a {
  display: inline-block;
  background: #141414;
  color: #fff;
  padding: 1.125rem 2rem;
  font-weight: 500;
  border-radius: .5rem;
  transition: .3s;
}

.offer_data a:hover {
  transform: translateY(-.25rem);
}

.offer_container img {
  width: 153px;
}

/* 3D card */
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  max-width: 1100px;
  margin: 0 auto;
}

.cards * {
  box-sizing: border-box;
}

.card {
  width: 17em;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  margin: 2em;
}

.card img {
  width: 16em;
  position: absolute;
  top: 6em;
  right: -4em;
  filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.5));
  /* transform-style: preserve-3d; */
}

.card_content {
  padding: 1em;
}

.card h2 {
  color: #fff;
  margin: 0 0 0 0.8em;
}

.banner {
  height: 15em;
  background: linear-gradient(90deg,
      #fb3854 0%,
      #901026 100%);
  padding-top: 3em;
  border-radius: 10px 10px 50% 50%;
}

.card_sizes ul {
  list-style: none;
  text-align: center;
}

.card_sizes .size {
  display: inline-block;
  margin: 0 0.5em;
  cursor: pointer;
  font-weight: 700;
}

.size:hover {
  color: #ccc;
}

.active {
  color: #ccc;
}

.details small {
  display: block;
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.card_cart {
  background: linear-gradient(90deg,
      #fb3854 0%,
      #901026 100%);
  padding: 1em 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 2em;
  color: #fff;
  border: none;
  margin: 0 auto;
  font-weight: 700;
  box-shadow: 0px 5px 15px rgba(251, 56, 84, 0.7);
  cursor: pointer;
}

/* .pop {
  transform: translateZ(20px);
} */

.card:nth-child(2) .banner,
.card:nth-child(2) .card_cart {
  background: linear-gradient(90deg,
      #333 0%,
      #111 100%);
}

.card:nth-child(2) img {
  top: 4em;
}

.card:nth-child(2) .card_cart {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
}

.card:nth-child(3) .banner,
.card:nth-child(3) .card_cart {
  background: linear-gradient(90deg,
      #8da7c2 0%,
      #516892 100%)
}


.card:nth-child(3) img {
  top: 5.3em;
}

.card:nth-child(3) .card_cart {
  box-shadow: 0px 5px 15px rgba(141, 167, 194, 0.7);
}

/* newsletter */
.newsletter_container {
  background: #141414;
  color: #fff;
  padding: 2rem .5rem;
  border-radius: .5rem;
  text-align: center;
}

.newsletter_container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.newsletter_container p {
  margin-bottom: 2.5rem;
}

.newsletter_container form {
  display: flex;
  column-gap: .5rem;
  background: #fff;
  padding: .5rem;
  border-radius: .5rem;
}

.newsletter_container form input {
  outline: none;
  border: none;
  width: 90%;
  font-size: .938rem;
}

.newsletter_container form input::placeholder {
  color: #141414;
  font-family: 'Poppins', sans-serif;
  font-size: .938rem;
  font-weight: 600;
}

.newsletter_container form a {
  display: inline-block;
  background: #141414;
  color: #fff;
  padding: 1.125rem 2rem;
  font-weight: 500;
  border-radius: .5rem;
  transition: .3s;
}

.newsletter_container form a:hover {
  transform: translateY(-.25rem);
}

/* footer */
footer * {
  padding: 0;
  margin: 0;
}

.footer {
  color: #fff;
  background: #121315;
}

.footer p {
  color: #ccc;
  max-width: 25em;
  font-size: .9em;
  line-height: 23px;
}

.footer h4 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.footer .footer_container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.footer .footer_top .footer_container,
.footer .col2,
.footer .footer_bottom .footer_container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.footer .footer_bottom .footer_container {
  padding: 1em 2em;
  align-items: center;
}

.col2 ul li {
  margin-bottom: 0.6em;
}

.footer .col2 ul a:hover {
  text-decoration: underline;
}

.brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
  width: 8rem;
}

.media_icons li,
.service-icons li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}

.media_icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.media_icons a:hover {
  background: #fff;
  color: #111;
}

.service-icons a {
  font-size: 1.6em;
}

.service-icons a:hover {
  color: #dbdbdb;
}

.footer_bottom {
  border-top: 1px #dbdbdb solid;
}

@media screen and (max-width: 900px) {

  .footer .footer_top .footer_container,
  .footer .footer_bottom .footer_container {
    flex-direction: column;
  }

  .footer .col2 {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

/*  */
@media screen and (min-width: 576px) {
  .collection__container {
    grid-template-columns: 415px;
  }

  .collection__img {
    width: 260px;
  }

  .offer_container {
    grid-template-columns: max-content max-content;
  }

  .offer_data {
    text-align: center;
  }

  .new_mens {
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 3rem;
  }

  .section-title::after {
    width: 76px;
  }

  .home__container {
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }

  .home__sneaker {
    order: 1;
  }

  .home__shape {
    width: 376px;
    height: 376px;
  }

  .home__img {
    width: 470px;
    top: 3.5rem;
    right: 0;
    left: -3rem;
  }

  .newsletter_container {
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }

  .newsletter_container p {
    margin-bottom: 0;
  }

  .newsletter_container form {
    width: 360px;
    height: max-content;
  }
}

@media screen and (min-width: 1024px) {
  .bd_grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    column-gap: 8rem;
  }

  .collection__container {
    grid-template-columns: repeat(2, 415px);
  }

  .new_container {
    grid-template-columns: max-content 1fr;
  }

  .new_mens {
    align-items: initial;
    justify-content: flex-end;
    padding: 4rem 2rem;
  }

  .new_mens img {
    margin-bottom: 3rem;
  }
}