.Wrap {}

.page_header_inner {
    position: relative;
    background: #fff;
    height: 60px;
    padding: 8px 140px;
}

.page_header_close {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 60px;
    left: 60px;
}

.btn {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 60px;
    width: 60px;
    color: #868686;
}

.btn i {
    display: block;
    margin-top: 18px;
    margin-left: 15px;
    font-size: 24px;
}

.page_header_logo {
    position: relative;
    display: block;
    width: 84px;
    margin: 0 auto;
    z-index: 1;
}

.page_header_logo img {
    display: block;
    width: 84px;
}

.page-header-find {
    display: block;
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translate(0, -50%);
    text-transform: uppercase;
    padding-right: 45px;
    line-height: 18.4px;
    color: #868686;
}

.page-header-find span {
    display: inline-block;
}

.page-header-find span::after {
    content: "\eb59";
    position: absolute;
    font-size: 21px;
    font-weight: 700;
    color: #868686;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 9.5px 10px 9.5px 15px;
}

.stage {
    position: relative;
}

.stage .stage_content_container figure {
    position: relative;
    padding: 80px 140px 20px;
    height: 700px;
}

.stage .stage_content_container .stage_image_container {
    background: url(../img/wallpapers-veyron-bugatti-computer-desktop-219161.jpg);
}

.stage_content_container h1 {
    margin-top: 0;
    font-size: 66px;
    line-height: 66px;
    margin-bottom: 4px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.stage_content_container h2 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.stage_button_container {
    display: inline-flex;
    flex-direction: column;
}

.stage_button {
    margin-top: 21px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    display: table;
    line-height: 1;
    border: 1px solid;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #fff;
}

.stage_image_container img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.module_lineup {
    padding-top: 80px;
    background: #111;
}

.module_lineup_test {
    color: #fff;
}

.module_lineup_inner {
    overflow: hidden;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 140px;
}

.module_lineup_title .li-title {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 10px;
}

.module_lineup_desc .li-desc {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.module_lineup_view {
    position: relative;
    max-width: 300px;
    margin: 24px auto 30px;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    border-top: 1px solid #fff;
    padding: 10px 0 0;
    text-align: center;
    cursor: pointer;
}

.module_lineup_view a::after {
    content: "\e907";
    height: 15px;
    width: 15px;
    margin: 0 0 0 12px;
    font-size: 14px;
}

/*  */
.lineup_tab {
    padding: 50px 198px;
}

.lineup_tab_swiper {
    position: relative;
    padding-bottom: 56px;
}

.swiper_container {
    position: static;
}

.swiper_wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.swiper_slide {
    position: relative;
    padding: 0 20px;
    /* width: 490px; */
}

.lineup_item {
    position: relative;
    margin: 1px 0;
    padding: 39px 40px 49px;
    background-color: #151515;
}

.lineup_tab_title {
    position: relative;
    height: 65px;
}

.lineup_tab_title .brand-title {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.lineup_title .brand-title {
    margin-bottom: 7px;
    font-size: 16px;
}

.lineup_tab_title .vehicle-name {
    padding-bottom: 27px;
    font-size: 18px;
}

.lineup_tab_img {
    position: relative;
    display: block;
    overflow: hidden;
    height: 0;
    margin-top: 43px;
    padding-top: 70%;
}

.lineup_tab_img .a-picture {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.lineup_tab_img img {
    max-width: 100%;
    width: 100%;
}

.lineup_tab_cta {
    position: relative;
    margin-top: 20px;
}

.lineup_tab_cta .cta-button {
    min-width: 100%;
}

/*  */
.cta-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 0 40px;
    text-align: center;
    font-size: 16px;
    height: 56px;
    line-height: 56px;
}

.cta-button .text {
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    width: 100%;
    color: #fff;
}

.cta-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #fff;
}

/*  */

.swiper_container .slick-dots {
    margin: 30px 0;
    text-align: center;
}

.swiper_container .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bbbbbb;
    margin: 0 5px
}

.swiper_container .slick-dots li.slick-active {
    background: #fff;
}

.swiper_container .slick-dots button {
    display: none;
}

/*  */

.full {
    position: relative;
}

.full-space {
    background: #111;
    padding-bottom: 240px;
}

.full_slider figure {
    position: relative;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-bottom: 1px solid #fff;
}

.full_slider .full_itme01 {
    background-image: url(../img/full01.jpg);
}

.full_slider .full_itme02 {
    background-image: url(../img/full02.jpg);
}

.full_slider .full_itme03 {
    background-image: url(../img/full03.jpg);
}

.full_slider .full_itme04 {
    background-image: url(../img/full04.jpg);
}

.full_slider .full_itme05 {
    background-image: url(../img/full05.jpg);
}

.full_slider .full_itme06 {
    background-image: url(../img/full06.jpg);
}

.full_slider .fl_content_info {
    position: absolute;
    right: auto;
    left: 140px;
    padding: 0 0 80px;
    bottom: 0;
    width: 800px;
}

.fl_content_info .fl-title {
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 3px;
}

.fl_content_info .fl-description {
    margin-top: 45px;
    font-size: 18px;
    font-weight: 500;
    width: 630px;
    color: #fff;
    text-shadow: 0 0 3px;
}

.full .full_slider .slick-dots {
    margin: 40px 0;
    text-align: center;
}

.full_slider .slick-dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bbbbbb;
    margin: 0 5px;
    color: #fff;
}

.full_slider .slick-dots li.slick-active {
    background: #fff;
}

.full_slider .slick-dots button {
    display: none;
}